*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
}

body{
    background:linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../img/fundo.jpg") no-repeat center center / cover;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 100vh;
}

.form-box {
    width: 100%;    
    background: rgba(255, 255, 255, 0.15);
    padding: 50px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.form-box .logo{
    text-align: center;
}

.form-box img{
    text-align: center;
}

.form-box .forgot-pass a{
    color:#f3d3d39a;
}

.form-box .btn{
    width: 100%;
    height: 45px;
    margin-top: 15px;
    border: none;
    outline: none;
    font-size: 1.2rem;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 40px 0;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    pointer-events: none;
    transition: .5s;
    color: #f3d3d39a;
}

.input-box input:focus~label,
.input-box input:user-valid~label{
    top: -5px;
}

.input-box input{
   width:300px;
   height:100%;
   background: transparent;
   border: none;
   outline: none;
   color: #fff;
   font-size:15px;

}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 17px;
    color: #fff;
    line-height: 57px;
}

span{
    color: yellow;
    font-size: 15px;
    position:absolute;
    margin-left: -250px;
}

@media only screen and (max-width: 600px) {
   body{
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        width: auto;  
    }
    
    .form-box{   
    background: none;
    padding: 0;
    border-radius: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    box-shadow: none;
    }

    
}