*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    color: #fff;
}

body{ 
    background:linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("../img/fundo.jpg") no-repeat center center / cover;
   
}

img{
    display: none;
}
h1,p{
    text-align: center;
    color: #fff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    width: auto;  
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
    width: auto;
    max-width: 600px;
    margin: 0px auto;
    padding: 20px 50px;
    border-radius: 10px;
    text-align: left;
}

label{
    font-weight: bold;
    margin-bottom: 5px;
}

input,select{
    width: 100%;
    padding: 10px;
    background: transparent;
    font-size: 1.1rem;
    text-decoration: none;
    border-color: black;
}

span{
    font-family:monospace;
    text-align: end;
}

button{
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #2da4df;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
}

a{
    color: #fff;
    padding: 15px;
    width: 30%;
    text-align: center;
    border: none;
    border-radius: 5px;
}


@media only screen and (max-width: 600px) {

        form{
           text-align: left;
           padding: 12px;
        }  
        
        img{
            display: inline;
        }
    
  }